# OSX
.DS_Store

# Xcode
#
build/
derivedData/
clonedSourcePackages/
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata
*.xccheckout
*.moved-aside
DerivedData
*.hmap
*.ipa
*.xcuserstate

*.xcframework
*.framework

# CocoaPods
#
# We recommend against adding the Pods directory to your .gitignore. However
# you should judge for yourself, the pros and cons are mentioned at:
# http://guides.cocoapods.org/using/using-cocoapods.html#should-i-ignore-the-pods-directory-in-source-control
#
**/Pods/
Podfile.lock
*.xcworkspace

# Flutter
.dart_tool/
.packages
.metadata
.pub/
.idea/
.vagrant/
.sconsign.dblite
.svn/
build/
.android/
.ios/
.flutter-plugins
.flutter-plugins-dependencies
app.*.symbols
app.*.map.json
pubspec.lock
.gitignore

# React Native
node_modules/
yarn.lock
package-lock.json
.xcode*
*.xcprivacy
 
# Yarn
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
